{% extends "master.html" %}
{% block content %}
<div class="container mt-5 col-md-4">
  <div class="card">
      
      <div class="card-body">
        <button type="button" class="btn btn-info" style="width:100%">Log In</button>

          <form method="POST">
              {%csrf_token %}
              <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control"  placeholder="Enter Username" name="Username">
              </div>
              <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name="pswd">
              </div>

              {% if messages %}
              <div class="alert alert-danger alert-dismissible" style="width: 100%;">
                {% for msg in messages%}
                  {% if msg.tags == "error" %}
                <strong>{{msg.tags}}! </strong> {{msg}}
                  {% endif %}
                {% endfor %}
              </div>
              {% endif %}

              <center>
              <button type="submit" class="btn btn-info">Log In</button>
              </center>
           </form>
</div>
</div>
</div>

  
  {% endblock %}