{%extends "master.html"%}

{%block content%}
<div class="container mt-5 col-md-6">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/my_resumes">My Resumes</a></li>
          <li class="breadcrumb-item"><a href="/dashboard/{{Pers}}">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Technical Skills</li>
      </ol>
  </nav>
</div>

<div class="container mt-5 mb-5 col-md-6">
    <div class="card"> 
        
        <div class="card-body">

          <button type="button" class="btn btn-info" style="width:100%">Technical_Skills</button>

          <form method="post">
            {%csrf_token%}

            <div class="mb-3 mt-3">
              <label for="skills" class="form-label">Skills</label>
              <input type="text" class="form-control" placeholder="HTML,CSS,C++" name="skills" required>
            </div>


            </div  class="mb-3 mt-3">
            <button type="submit" class="btn btn-info mb-5" style="width: 80%; margin-left: 10%;">Submit</button>
        </form>


        </div>
    </div>
    </div>

{%endblock%}