<style>
    .all{
        font-size: 12pt;
        line-height: normal;
    }
</style>
<div class="all"> 
    <div>
        <div>
        <center>
            <div class="col-md-4">
                <h3>Viraj Holmukhe</h3>
                
                <div>07507507535</div>
                <div>virajholmukhe@gmail.com</div>
                <div>Sr No 22, Ekta Colony, Ambegaon Pathar, Pune 411046</div>
                <div>https://www.linkedin.com/in/viraj-holmukhe/</div>
                <div>https://github.com/virajholmukhe</div>

            </div>
        </center>

        <hr width="100%"></hr>

            <table border="0" cellpadding="5" cellspacing="5" >
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <h3 style="color:grey; font-size: 14pt;">Objective:</h3>
                            </div>

                        </td>

                        <td colspan="4">
                            <div>
                                <p>
                                    a
                                </p>
                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

           <h3 style="color:grey">Educational Details</h3><br>

            <table class="table" border="1" cellpadding="8" cellspacing="8">
                <thead>
                    <tr>
                        <th>
                            Name of the Examination
                        </th>
                        <th>
                            Institute
                        </th>
                        <th>
                            University/Board
                        </th>
                        <th>
                            Marks (%)
                        </th>
                        <th>
                            Year of Completion
                        </th>

                    </tr>

                    
                </thead>
                <tbody>
                    

                </tbody>
            </table>

            <hr width="100%"></hr>

            <table class="table" >
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <h3 style="color:grey">Certification</h3>
                            </div>
                        </td>
                    </tr>
                    <tr><td><div>&nbsp;</div></td></tr>
                    <tr>
                        <td>
                            <div>
                                
                                <ul type="disc">
                                    
                                <ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <hr width="100%"></hr>

            <table class="table" >
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <h3 style="color:grey">Technical Skills</h3>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <p>
                                    
                                </p>
                                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <hr width="100%"></hr>

            <table class="table" >
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <h3 style="color:grey">Academic Projects</h3>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <ol type="1">
                                    
                        </ol>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3 style="color:grey">Personal Information</h3>
                
                <table class="personal_information">
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <p>Gender: </p>
                                </div>
    
                            </td>
    
                            <td>
                                <div>
                                    <p>
                                        male
                                    </p>
                    
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div>
                                    <p>Date of Birth: </p>
                                </div>
    
                            </td>
    
                            <td>
                                <div>
                                    <p>
                                        Feb. 23, 1996
                                    </p>
                    
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div>
                                   <p>Hobbies: </p>
                                </div>
    
                            </td>
    
                            <td>
                                <div>
                                    <p>
                                        Reading, Gaming, Trekking
                                    </p>
                    
                                </div>
                            </td>
                        </tr>
                    
                        <tr>
                            <td>
                                <div>
                                   <p>Languages Known: </p>
                                </div>
    
                            </td>
    
                            <td>
                                <div>
                                    <p>
                                        English, Marathi, Hindi, Sanskrit
                                    </p>
                    
                                </div>
                            </td>
                        </tr>
                    

                    </tbody>
                </table>

            <hr width="100%"></hr>

            <table class="self_declaration" >
                <tbody>
                    <tr>
                        <td colspan="12">
                            <div>
                                <h3 style="color:grey">Self Declartion: </h3>
                            </div>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="12">
                            <div>
                                <p>
                                    I hereby declare that all the information that I have furnished is true to the best of my knowledge.
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td colspan="10">
                            Date:
                        </td>

                        <td >
                            sign:
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Place:
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>